*{
  padding: 0;
  margin: 0;
}
.table__wrapper{
  text-align: center;
  max-width: 1200px;
  margin: 50px auto;
}

.table__header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  flex-basis: 30%;
  font-size: 20px;

}
.table__person{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.table__persons{
  text-align: center;
}
.person__field{
  text-align: left;
  flex-basis: 10%;
  white-space: nowrap;
  font-size: 20px;
}